In [18]:
import numpy as np
import pandas as pd

s = pd.Series([1,2,3,np.nan,6,8,'423fsa'])
s
type(s)

pandas.core.series.Series

In [20]:
dates = pd.date_range('20210704', periods=6)
dates

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-07-04  0.987176 -0.055995  0.985774  0.047112
2021-07-05  0.202527 -1.734879  0.704394  0.893768
2021-07-06  0.339891 -0.850808 -1.202818 -0.768603
2021-07-07  1.514653  0.745530  0.235095  1.109268
2021-07-08  1.197852 -0.943286  0.253661 -0.761663
2021-07-09 -0.823940 -1.047052 -1.496782 -0.125177

In [45]:
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20210706'),
    'C': pd.Series(3.3, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(['test', 'train', 'test', 'train']),
    'foo': 'foo'
})

df2.dtypes

df2.A

df2

     A          B    C  D      E  foo
0  1.0 2021-07-06  3.3  3   test  foo
1  1.0 2021-07-06  3.3  3  train  foo
2  1.0 2021-07-06  3.3  3   test  foo
3  1.0 2021-07-06  3.3  3  train  foo

In [50]:
df2.head(2)
df2.tail(2)
df2.columns
df2.index

df.index

# 快速查看 每个数值型 column 的 统计摘要 (count,mean,std,min...)
df2.describe()

# DataFrame.to_numpy() (opens new window)的输出不包含行索引和列标签
df2.to_numpy()

df2.T

,0,1,2,3
A,1,1,1,1
B,2021-07-06 00:00:00,2021-07-06 00:00:00,2021-07-06 00:00:00,2021-07-06 00:00:00
C,3.3,3.3,3.3,3.3
D,3,3,3,3
E,test,train,test,train
foo,foo,foo,foo,foo

In [55]:
# 按轴排序 (0index 1column)
df.sort_index(axis=0, ascending=False)
# 按列排序
df.sort_values('B')

                   A         B         C         D
2021-07-05  0.202527 -1.734879  0.704394  0.893768
2021-07-09 -0.823940 -1.047052 -1.496782 -0.125177
2021-07-08  1.197852 -0.943286  0.253661 -0.761663
2021-07-06  0.339891 -0.850808 -1.202818 -0.768603
2021-07-04  0.987176 -0.055995  0.985774  0.047112
2021-07-07  1.514653  0.745530  0.235095  1.109268

In [73]:
df['A']
df[2:-1]

df['20210705':'20210706']

                   A         B         C         D
2021-07-05  0.202527 -1.734879  0.704394  0.893768
2021-07-06  0.339891 -0.850808 -1.202818 -0.768603

In [80]:
######
# loc 标签获取 多列数据
# loc[index_0:index_n, [col_0, col_1, ...]]
####

# 获取某一行数据
df.loc[dates[1]]

# 所有行的 A B 列
df.loc[:, ['A', 'B']]

# 标签切片 包含行列结束点
df.loc['20210704':'20210708', ['A', 'B']]

# 对象 降维 -> DataFrame 取单行 降维为 Series对象
df.loc['20210708', ['A', 'B']]

# 单个cell -> 取标量值
df.loc[dates[1], 'A']
df.at[dates[1], 'A']

0.2025270534707176

In [ ]:
# 按位置选择